<div class="revenuemaster">
    <h2>Revenue Master</h2>
    <table class="revenue-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Self / Website (%)</th>
                <th>Connector / QR (%)</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of productList; let i = index">
                <td>{{ item.product }}</td>

                <td>
                    <input type="text" [value]="item.selfPercent" (input)="onSelfChange($event, i)" />
                </td>

                <td>
                    <input type="text" [value]="item.connectorPercent" (input)="onConnectorChange($event, i)" />
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align:right;font-weight:bold;">
                    <div class="button-container">
                        <button class="save-btn" (click)="saveProductPercentages()" [disabled]="!hasChanges">
                            💾 Save
                        </button>
                    </div>
                </td>


            </tr>


        </tbody>
    </table>
</div>